@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
.my_portfolio_name{
    text-align: center;

}
.button_a{
    color: white;
    text-decoration: none;
    &:hover{
        color: #0B5ED7;
        font-weight: bold;
    }

}
.button{
    display: flex;
    justify-content: center;
}
.hover_btn:hover{
    background-color: white;
}
.my_container_show{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.my_card{
    text-align: center;
}
